

#view-historial  h2{
   font-size: 24px;
font-family: 'Poppins', sans-serif;  
color: #194d13;
}



#view-historial .kpi-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
 
}

#view-historial .kpi-card-balance{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

#view-historial #kpi-balance-monto{
	font-weight: 700;
}

#view-historial .balance-positivo{
	background-color: #51ff0027;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

#view-historial .balance-negativo{
	background-color: #ff000027;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}


#view-historial .filtro{
    border: none;
    background: rgba(255, 255, 255, 0.15); /* fondo semitransparente */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* soporte Safari */
}

#view-historial .tabla-ventas{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   border: none;
}

#view-historial #btnAgregarVenta{
    align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Poppins', sans-serif;  
  font-size: 15px;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 0px 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#view-historial #btnAgregarVenta:hover {
  background: #F6F9FE;
  color: #000000;
}

#view-historial #btnAgregarVenta:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#view-historial #btnAgregarVenta:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#view-historial #btnAgregarVenta:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#view-historial #btnAgregarVenta:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#view-historial #btnAgregarVenta:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#view-historial #btnAgregarVenta:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#view-historial #btnAgregarVenta:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}





#view-historial .filtro-ventas{
    border: none;
    background: rgba(255, 255, 255, 0.15); /* fondo semitransparente */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); 
  margin-bottom:10px;/* soporte Safari */
}

#view-historial .tabla-ventas{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   border: none;
}



@media screen and (width: 1366px) and (height: 768px) {
#view-historial .header h2{
 
   margin-left: 7px;
}

#view-historial .header .btn-main{
   
   margin-right: 7px;
}

#view-historial .div-tabla-ventas{
	max-height:400px
} 

}

#view-historial #ventasTbody tr:hover{
	 background-color: #dbf9d8;
  transition: background-color 0.2s ease;
}


