main{
 background-image: linear-gradient(to right bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fdfdff, #f9fbff, #f5faff, #e9f8fd, #dff6f5, #daf3e8, #ddeed8);
}

#view-dashboard{
  
  height: 100%;
}

#view-dashboard .header-pedidos{

box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: transparent;
border-radius: 12px;

}

#view-dashboard h2{
font-size: 24px;
font-family: 'Poppins', sans-serif;  
color: #194d13;
}

#view-dashboard .filtro-pedidos{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border: none;
height: 100px;
} 

#view-dashboard .filtro-pedidos input,select{
height: 35px;
} 

#view-dashboard .tabla-pedidos tr{

 background-color: transparent;
}
#view-dashboard tbody{
  margin-top: 100px;
}
#view-dashboard tbody tr{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
 background: rgba(255, 255, 255, 0.15); /* fondo semitransparente */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* soporte Safari */
 margin-bottom: 15px;
}
#view-dashboard tbody tr:hover{
 background-color: #dbf9d8;
}



#view-dashboard input{
    border-radius: 999px;
    box-shadow: rgb(235, 235, 235) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: none;
}
#view-dashboard .tabla{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


/* botones */


/* CSS */
.agregar-pedido {
  margin-top: 17px;
  margin-left: 40px;
  align-items: center;
  appearance: none;
  background-color: #bcd1bb;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Poppins', sans-serif;  
  font-size: 15px;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.agregar-pedido:hover {
  background: #F6F9FE;
  color: #000000;
}

.agregar-pedido:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.agregar-pedido:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.agregar-pedido:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.agregar-pedido:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.agregar-pedido:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


@media screen and (width: 1366px) and (height: 768px) {

  #view-dashboard h2{
  font-size: 20px;
  margin-left: 8px;
}

#view-dashboard .agregar-pedido{

margin-right: 7px;
}

}main{
 background-image: linear-gradient(to right bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fdfdff, #f9fbff, #f5faff, #e9f8fd, #dff6f5, #daf3e8, #ddeed8);
}

#view-dashboard{
  
  height: 100%;
}

#view-dashboard .header-pedidos{

  margin-top: 10px;
background-color: transparent;
border-radius: 12px;
}

#view-dashboard h2{
font-size: 24px;
font-family: 'Poppins', sans-serif;  
color: #194d13;
}

#view-dashboard .filtro-pedidos{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border: none;
height: 100px;
} 

#view-dashboard .filtro-pedidos input,select{
height: 35px;
} 

#view-dashboard .tabla-pedidos tr{

 background-color: transparent;
}
#view-dashboard tbody{
  margin-top: 100px;
}
#view-dashboard .div-item{
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 background: rgba(255, 255, 255, 0.15); /* fondo semitransparente */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* soporte Safari */
 margin-bottom: 18px;
 margin-left:8px;
 margin-right:8px;
}
#view-dashboard .div-item:hover{
 background-color: #dbf9d8;
}



#view-dashboard input{
    border-radius: 999px;
    box-shadow: rgb(235, 235, 235) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: none;
}
#view-dashboard .tabla{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


/* botones */


/* CSS */
	#btnAgregarPedido {
  margin-top: 17px;
  margin-left: 40px;
  align-items: center;
  appearance: none;
  background-color: #bcd1bb;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Poppins', sans-serif;  
  font-size: 15px;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#btnAgregarPedido:hover {
  background: #F6F9FE;
  color: #000000;
}

#btnAgregarPedido:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#btnAgregarPedido:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#btnAgregarPedido:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#btnAgregarPedido:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#btnAgregarPedido:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


@media screen and (width: 1366px) and (height: 768px) {

  #view-dashboard h2{
  font-size: 20px;
  margin-left: 8px;
}

#view-dashboard .agregar-pedido{

margin-right: 7px;
}

}
